development:
  accounts:
    sso:
      cookie_name: 'oxa_dev'
      signature_public_key: |
        -----BEGIN PUBLIC KEY-----
        foobar
        -----END PUBLIC KEY-----
      encryption_private_key: 'foobar'
  kafka:
    application_name: 'events-capture-api'
    broker_host: 'localhost:9092'
    log_name: 'log/kafka.log'
    delivery_threshold: 5
    delivery_interval: 5
    schema_url: 'http://localhost:8081/'
    schemas_path: 'app/schemas'
test:
  accounts:
    sso:
      cookie_name: 'oxa_dev'
      signature_public_key: |
        -----BEGIN PUBLIC KEY-----
        foobar
        -----END PUBLIC KEY-----
      encryption_private_key: 'foobar'
  kafka:
    application_name: 'events-capture-api'
    broker_host: 'localhost:9092'
    log_name: 'log/kafka.log'
    delivery_threshold: 5
    delivery_interval: 5
    schema_url: 'http://localhost:8081/'
    schemas_path: 'app/schemas'
production:
  accounts:
    sso:
      cookie_name: ssm(sso_cookie_name)
      signature_public_key: |
        ssm(sso_signature_public_key)
      encryption_private_key: ssm(sso_encryption_private_key)
  secret_key_base: random(hex,80)
  scout:
    license_key: ssm(scout_license_key)
  sentry:
    dsn: ssm(sentry_dsn)
  kafka:
    application_name: 'events-capture-api'
    broker_host: "{{ kafka_broker_host }}"
    log_name: '{{ kafka_log_name }}'
    delivery_threshold: {{ kafka_delivery_threshold}}
    delivery_interval: {{ kafka_delivery_interval }}
    schema_url: {{ kafka_schema_url }}
    schemas_path: {{ kafka_schemas_path }}
