development:
  kafka:
    application_name: 'events-capture-api'
    broker_host: 'localhost:9092'
    log_name: 'log/kafka.log'
    delivery_threshold: 5
    delivery_interval: 5
test:
  kafka:
    application_name: 'events-capture-api'
    broker_host: 'localhost:9092'
    log_name: 'log/kafka.log'
    delivery_threshold: 5
    delivery_interval: 5
production:
  scout:
    license_key: ssm(scout_license_key)
  sentry:
    dsn: ssm(sentry_dsn)
  kafka:
    application_name: 'events-capture-api'
    broker_host: "{{ kafka_broker_host }}"
    log_name: '{{ kafka_log_name }}'
    delivery_threshold: {{ kafka_delivery_threshold}}
    delivery_interval: {{ kafka_delivery_interval }}
