name: Tests

env:
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  RUBY_VERSION: 3.1

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  tests:
    timeout-minutes: 10
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ env.RUBY_VERSION }}
      - name: Test
        env:
          ENABLE_CODECOV: 1
        run: |
          bundle exec rake setup
          bundle exec rspec
